# Build results
bin/
obj/

# NuGet packages and cache
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
project.packagespec.json

# Rider
rider.project.restore.info
rider.project.model.nuget.info

# .NET Core
*.AssemblyInfo.cs
*.GlobalUsings.g.cs
*.AssemblyInfoInputs.cache
.NETCoreApp,Version=*.AssemblyAttributes.cs
*.GeneratedMSBuildEditorConfig.editorconfig
*.assets.cache

# Reference assemblies
ref/
refint/
Build/



.idea/
/.vs/All.slnx/FileContentIndex
/.vs/All.slnx/v18
/.vs/All.slnx/DesignTimeBuild
/.gitignore
/.vs/ProjectEvaluation
/Game/.vs/TankDestroyer/FileContentIndex
